# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
.pytest_cache
*.egg-info
dist
!frontend-chat/fe/dist/
build

# Virtual environments
.venv
venv
env

# Environment files
.env
.env.prod

# Node
node_modules
frontend-chat/fe/node_modules
frontend-chat/admin/node_modules
frontend-chat/desktop/node_modules

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
frontend-chat/admin/dist
backend-chat/script/deploy/build
frontend-chat/desktop/release
